<h1>Listing weblings</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weblings.each do |webling| %>
  <tr>
    <td><%= webling.URL %></td>
    <td><%= webling.Description %></td>
    <td><%= link_to 'Show', webling %></td>
    <td><%= link_to 'Edit', edit_webling_path(webling) %></td>
    <td><%= link_to 'Destroy', webling, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Webling', new_webling_path %>
